@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .center {
    @apply flex flex-col items-center;
  }
  .forms {
    @apply pt-2 pb-2 w-60 rounded-md  pl-3 bg-opacity-50 bg-hawkes-blue-500;
  }
  .btn {
    @apply bg-portage-blue-500 bg-opacity-50 w-28 text-white pt-0.5 pb-0.5 rounded-md;
  }
}

@layer base {
  :root {
    --color-screen:  228deg 15% 15%;
    --color-container: 228deg 1% 1%;
  }
}
